extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
          a(href='/posts/show/#{post._id}')=post.title
        p.meta Posted in
          a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date_created).format("MM-DD-YYYY")}
        if post.mainImage
          img(src='/images/uploads/#{post.mainImage}')
        .post-body
          !=truncateText(post.body, 200)
        a.more(href='/posts/show/#{post._id}') Read more
  else
    p.no-posts There are no posts to display
